<section class="section" id="articles">
  <div class="section__header">
    <h2 class="section__title">Статьи</h2>
    <a class="section__link" href="/articles.html">Все статьи</a>
  </div>

  <a  class="wide-card" href="/posts/article-openworld-fatigue.html">
    <img class="wide-card__image" src="https://images.unsplash.com/photo-1605901309584-818e25960a8f?auto=format&fit=crop&w=900&q=80" alt="Геймпад" />
    <div>
      <span class="article-card__category">Индустрия</span>
      <h3 class="wide-card__title">Почему открытые миры начали утомлять игроков?</h3>
      <p class="wide-card__text">Огромные карты, сотни маркеров и одинаковые активности — разбираемся, почему больше не всегда значит лучше.</p>
      <p class="article-card__meta">Автор: Diana · 12 мин чтения</p>
    </div>
  </a>

  <a href="/posts/article-mafia-iii.html" class="wide-card">
    <img class="wide-card__image" src="/images/posts/article-mafia-3/mafia_iii_hero.jpg" alt="mafia3-hero" />
    <div>
      <span class="article-card__category">Мнение</span>
      <h3 class="wide-card__title">Mafia III — тёмная лошадка гангстерской саги</h3>
      <p class="wide-card__text">Почему это одна из самых недооценённых игр своего поколения и чем она обскакала даже The Last Of Us 2.</p>
      <p class="article-card__meta">Автор: Alexios · 10 мин чтения</p>
    </div>
  </a>
</section>