      <aside class="catalog-sidebar">
        <div class="catalog-sidebar__block">
          <h2 class="catalog-sidebar__title">Типы гайдов</h2>

          <div class="catalog-tags">
            <button class="catalog-tags__button is-active" type="button" data-tag="all">
              Все
            </button>

            <button class="catalog-tags__button" type="button" data-tag="для новичков">
              Для новичков
            </button>

            <button class="catalog-tags__button" type="button" data-tag="билды">
              Билды
            </button>

            <button class="catalog-tags__button" type="button" data-tag="советы">
              Советы
            </button>

            <button class="catalog-tags__button" type="button" data-tag="настройки">
              Настройки
            </button>

            <button class="catalog-tags__button" type="button" data-tag="эмуляция">
              Эмуляция
            </button>
          </div>
        </div>