  <header class="header">
    <div class="container header__inner">
      <a class="logo" href="#">
        <span class="logo__mark">C</span>
        <span>CritAttack</span>
      </a>

      <nav class="nav" aria-label="Главная навигация">
        <ul class="nav__list">
          <li><a class="nav__link" href="#">Главная</a></li>
          <li><a class="nav__link" href="#reviews">Обзоры</a></li>
          <li><a class="nav__link" href="#articles">Статьи</a></li>
          <li><a class="nav__link" href="#guides">Гайды</a></li>
          <li><a class="nav__link" href="#games">Игры</a></li>
        </ul>
      </nav>

      <a class="header__button" href="#">Добавить статью</a>
    </div>
  </header>
