<aside class="catalog-sidebar">
    <div class="catalog-sidebar__block">
        <h2 class="catalog-sidebar__title">Жанры</h2>

        <div class="catalog-tags">
            <button class="catalog-tags__button is-active" type="button" data-tag="all">
                Все
            </button>

            <button class="catalog-tags__button" type="button" data-tag="action">
                Action
            </button>

            <button class="catalog-tags__button" type="button" data-tag="rpg">
                RPG
            </button>

            <button class="catalog-tags__button" type="button" data-tag="horror">
                Horror
            </button>

            <button class="catalog-tags__button" type="button" data-tag="indie">
                Indie
            </button>

            <button class="catalog-tags__button" type="button" data-tag="shooter">
                Shooter
            </button>

            <button class="catalog-tags__button" type="button" data-tag="soulslike">
                Souls-like
            </button>
        </div>
    </div>