<header class="header">
  <div class="container header__inner">
    <a class="logo" href="/index.html">
      <img class="logo__image" src="/logo.svg" alt="CritAttack">
      <span>CritAttack</span>
    </a>

    <button class="burger-button" type="button" aria-label="Открыть меню">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav" aria-label="Главная навигация">
      <ul class="nav__list">
        <li><a class="nav__link" href="/index.html">Главная</a></li>
        <li><a class="nav__link" href="/reviews.html">Обзоры</a></li>
        <li><a class="nav__link" href="/articles.html">Статьи</a></li>
        <li><a class="nav__link" href="/guides.html">Гайды</a></li>
        <li><a class="nav__link" href="/contacts.html">Контакты</a></li>
      </ul>
    </nav>

    <button class="theme-toggle" type="button" aria-label="Переключить тему">
      🌙
    </button>

    <a class="header__button" href="/add-article.html">Добавить статью</a>
  </div>
</header>